#left{
    position: fixed;
  width: 50%;
  float: left;
  height: 100%;
  background-color: #e61b1b;
  
}

#right {
    position: fixed;
  width: 50%;
  float: right;
  height: 100%;
  background-color: #0080ff;
  
}